.testimonials {


  .testimonials-container {
    background-image: url('/images/FAQsBG.png');
    background-size: cover;
    height: 600px;
  }

  .testimonial-card {
    /* Customize card styles here */
    width: 400px;
    background-color: white;
    height: 200px;
    padding: 20px;
  }

  .slick-dots li button:before {
    margin-top: 10px;
    font-size: 8px;
    color: white;
  }


  .slick-dots li.slick-active button:before {
    margin-top: 10px;
    font-size: 8px;
    color: #FF8704;
    ;
    /* Ensure the active dot is also white */
    opacity: 1;
  }

}


@media (max-width: 930px) {
  .testimonials {
    .testimonials-container {
      height: 800px;
    }

    .testimonial-card {
      width: 100%;
    }
  }


}


@media (max-width: 420px) {
  .testimonials {
    .testimonials-container {
      height: 1100px;
    }

    .testimonial-card {
      width: 250px;
      height: 100%;
    }
  }

}