.generalInput {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid black;
  border-radius: 0px;
  width: 25rem;

}

.passwordARdirection input {
  direction: ltr;
  text-align: right;
}

.phoneField input {
  direction: ltr !important;
  text-align: left !important;
}

/* .phoneField input::placeholder {
  text-align: right;
} */

/* Scoped svg styling inside generalInput */
.generalInput svg {
  width: 18px;
  height: 18px;
}

.svgIcon svg {
  width: 18px;
  height: 18px;
}

.generalInput:focus:active {
  outline: none !important;
  border: none !important;
}