@media (max-width: 900px) {
  .md-padding-start-1 {
    padding-inline-start: 1rem;
  }
  .md-margin-0 {
    margin: 0rem !important;
  }
}
@media (max-width: 576px) {
  .md-align-center {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  .sm-padding-start-1 {
    padding-inline-start: 1rem;
  }
  .sm-padding-inline-1 {
    padding-inline: 1rem;
  }
  .sm-content-w-90 {
    max-width: 90%;
  }
}
