.text-field-style {
  border-radius: 50px;
  width: 95%;
  margin-bottom: 0.5rem;
  @media (max-width: 800px) {
    width: 75%;
  }
  @media (max-width: 576px) {
    width: 65%;
  }
}
.text-field-style:first-child {
  margin-top: 2rem;
}
.input-form-control {
  margin-bottom: 0.4rem;
  width: 95%;
  @media (max-width: 768px) {
    width: 80%;
  }
  @media (max-width: 576px) {
    width: 65%;
  }
}
