.border-test {
  border: 2px solid red;
}

.scrollable-container {
  width: 130%;
  overflow-y: scroll;
  height: 20rem;
  max-height: 20rem;
  @media (max-width: 576px) {
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
