/*
--font-size-reg: 0.875rem; 14px
--font-size-medium: 0.9375rem; 15px
--font-size-large: 1.875rem  ;30px
--font-size-xlarge: 3.75rem; 60px
--font-size-xlarge-title: 3rem ; 48px
--clamp-font-size-menu: clamp(0.56rem, -1.0303rem + 2.5702vw, 0.9375rem); 

1.75rem  ;  28px
2.75rem ; 44px
3.875rem; 62px
*/
.text-xs {
  color: var(--primary-color);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
}
.text-reg {
  color: var(--primary-color);
  font-size: var(--font-size-reg);
  font-weight: 400;
  line-height: 1.75rem;
}

.text-reg-fw500 {
  color: var(--primary-color);
  font-size: var(--font-size-reg);
  font-weight: 500;
  line-height: 1.75rem;
}
.text-reg-high {
  color: var(--primary-color);
  font-size: var(--font-size-reg-high);
  font-weight: 600;
  line-height: clamp(1.2rem, 0.5455rem + 3.2727vw, 3rem);
}
.text-med-fw400 {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  font-weight: 400;
  line-height: 1.75rem;
}
.text-med {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.7rem;
  text-transform: capitalize;
  @media (max-width: 576px) {
    line-height: 1rem;
  }
}
.text-med-fw600 {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: 1.75rem;
}
.text-med-fw700 {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  font-weight: 700;
  /* line-height: 1.75rem; */
}
.text-med-low {
  color: var(--primary-color);
  font-size: var(--font-size-low-medium);
  font-weight: 600;
  line-height: 1.5rem;
}

.text-xlarge-orange {
  color: var(--secondary-color);
  font-size: var(--font-size-xlarge);
  font-weight: 600;
  line-height: 2.75rem;
}

.text-large-title {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.text-xlarge-title-secondary {
  color: var(--secondary-color);
  font-size: var(--font-size-double-high-medium);
  font-weight: 700;
  line-height: 2rem;
}
.text-xlarge-title {
  color: var(--primary-color);
  font-size: var(--font-size-double-high-medium);
  font-weight: 700;
  line-height: 2rem;
}
.text-med-xlarge-title {
  color: var(--primary-color);
  font-size: var(--font-size-med-xlarge);
  font-weight: 700;
  line-height: 3rem;
}
.sub-text-large {
  color: var(--primary-color);
  font-size: var(--font-size-high-medium);
  font-weight: 400;
  line-height: 1.8rem;
}

.sub-xlarge-title {
  color: var(--primary-color);
  font-size: var(--font-xlarge-subtitle);
  font-weight: 700;
  line-height: 2rem;
}

.general-title {
  font-weight: 700;
  font-size: var(--font-size-double-high-medium);
  line-height: 2rem;
}
.general-line-h {
  line-height: clamp(1.8rem, 1.1636rem + 3.1818vw, 3.2rem);
}
/* inside section title */
.general-title-v2 {
  font-weight: 700;
  font-size: var(--font-size-general-title-v1);
  line-height: 3rem;
  @media (max-width: 1024px) {
    line-height: 2.6rem;
  }
  @media (max-width: 425px) {
    line-height: 2.1rem;
  }
  @media (max-width: 375px) {
    line-height: 1.9rem;
  }
  @media (max-width: 320px) {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

/* text for card  */
/* used in Work shop card v1  */
.text-reg-card-v1 {
  color: var(--primary-color);
  font-size: var(--font-size-reg);
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 0.1rem !important;
}
.text-workshop-place-time {
  color: var(--primary-color);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.8rem;
  margin: 0rem !important;
}

.text-white-new {
  color: var(--white-text) !important;
}

.fc-primary {
  color: var(--primary-color);
}
.fc-secondary {
  color: var(--secondary-text-color);
}
.fc-light-white {
  color: rgba(255, 255, 255, 0.8) !important;
}
.fc-light-black {
  color: rgba(0, 0, 0, 0.8) !important;
}
.fc-light-black-new {
  color: rgba(119, 131, 143, 1) !important;
}
.fc-black {
  color: black !important;
}

.text-underline {
  text-decoration: underline;
}
.text-underline-none {
  text-decoration: none;
}

.line-h-0 {
  line-height: 0px !important;
}
.line-h-1 {
  line-height: 1rem;
}
.line-h-1-2 {
  line-height: 1.5rem;
}
.line-h-2 {
  line-height: 2rem !important;
}
.line-h-2-5 {
  line-height: 2.5rem !important;
}
.line-h-3 {
  line-height: 3rem !important;
}
.line-h-4 {
  line-height: 4rem !important;
}

/* font size 20px */
.fs-20 {
  font-size: 1.25rem !important;
}

.fw500 {
  font-weight: 500 !important;
}
.fw600 {
  font-weight: 600 !important;
}
.fw700 {
  font-weight: 700 !important;
}

.text-align-center {
  text-align: center;
}
.text-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  @media (max-width: 576px) {
    hyphens: auto;
  }
}

.letter-spacing-1 {
  letter-spacing: 0.1rem;
}
.capital-letters {
  text-transform: capitalize;
}
