.w-full {
  width: 100%;
}
.max-w-95 {
  max-width: 95%;
}
.max-w-90 {
  max-width: 90%;
}

.max-w-80 {
  max-width: 80%;
}

.max-w-75 {
  max-width: 75%;
}

.max-w-70 {
  max-width: 70%;
}

.max-w-60 {
  max-width: 60%;
}

.max-w-md-65 {
  max-width: 65%;

  @media (max-width: 767px) {
    max-width: 100%;
    width: 100%;
  }
}

.max-w-50 {
  max-width: 50%;
}

.max-w-40 {
  max-width: 40%;
}

.max-w-30 {
  max-width: 30%;
}

.max-w-20 {
  max-width: 20%;
}

.max-w-10 {
  max-width: 10%;
}

.w-25 {
  width: 25%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-75 {
  width: 75%;
}
.w-90 {
  width: 90%;
}
.m-0 {
  margin: 0rem !important;
}
.m-1 {
  margin: 1rem !important;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}
.ml-10 {
  margin-left: 10rem;
}
.mx-2 {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}
.m-inline-end-1 {
  margin-inline-end: 1rem;
}
.m-inline-end-2 {
  margin-inline-end: 2rem;
}
.min-h-10 {
  min-height: 10rem;
}
.p-1 {
  padding: 1rem;
}
.p-0 {
  padding: 0rem !important;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-4-px {
  padding-top: 4px;
}
.p-px-4 {
  padding: 4px;
}
.pb-1 {
  padding-bottom: 1rem;
}
.p-inline-2 {
  padding-inline: 2rem;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.opacity-70 {
  opacity: 70% !important;
}

.opacity-75 {
  opacity: 75% !important;
}
.opacity-80 {
  opacity: 80% !important;
}
.opacity-85 {
  opacity: 85% !important;
}
.opacity-90 {
  opacity: 90%;
}
