.md-workshop-media-image {
  /* border: 2px solid red; */
  width: 99%;
  /* padding: 0.8rem; */
}

@media (max-width: 900px) {
  .md-workshop-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 567px) {
  .workshop-repo {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .md-workshop-media-image {
    width: 99%;
    padding: 0.4rem;
  }
}

@media (max-width: 425px) {
  .workshop-repo {
    width: 16rem;
  }
  .align-center-425 {
    align-self: center;
    gap: 0.1rem;
  }
}

@media (max-width: 375px) {
}
