.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-inline-end: 1rem;
}

.rightContainer {
  position: relative;
  width: 100%;
  min-height: 36rem;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* margin-top: 1.2rem; */
}

@media (max-width: 567px) {
  .rightContainer {
    align-items: flex-start;
  }
}


.aboutImage {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  .aboutImage {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .aboutImage {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .aboutImage {
    height: 300px;
  }
}