.news-details {
    .news-items {
        width: 90%;

        .news-item {
            margin-top: 20px;
        }

        .news-image {
            border-radius: 10px;
            width: 350px;
            height: 350px;
        }
    }
}


@media (max-width : 900px) {
    .news {
        padding: 0px;
        margin: 0px;

        .news-details {

            flex-direction: column-reverse;

            .news-items {
                width: 100%;

                .news-item {
                    gap: 20px;

                    flex-direction: column;

                    .news-image {
                        width: 100%;
                        height: 300px;
                    }

                    .news-details-text {
                        margin: 0px;
                    }
                }
            }

            .news-tags {
                width: 100%;
                border: none;
            }

        }
    }
}