.headerFullContainer {
  width: 100%;
  background-color: white;
  z-index: 10;
  position: sticky;
  top: 0px;
  left: 0px;
}

.headerContainer {
  background-color: #3f485e;
}

.headerDivContainer {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 140px;
}

.sideMenu {
  display: none;
}



.gridMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuListStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;

}

.menuListMargin {
  margin-inline: 0.5rem !important;
}

.menuListItem {
  cursor: pointer;
  color: white !important;
  padding: 0 !important;
  border: none;
  text-transform: capitalize !important;
  transition: all .2s ease;
}

.menuListItem:hover {
  border-top: .5px solid #eb6b2a;
  color: #eb6b2a !important;
}

.active {
  border-top: 1px solid #eb6b2a;
  color: #eb6b2a !important;
}


@media (max-width: 1100px) {

  .menuListItem {
    color: black;
  }

  .active {
    border-top: none;
  }

  .menuListItem:hover {
    border-top: none;
    background-color: transparent;
  }


  .logoImg {
    width: 120px;
  }

  .gridMenu {
    display: none;
  }

  .MenuDiv {
    display: none;
  }

  .gridLang {
    display: none;
  }

  .gridAuthButton {
    display: none;
  }

  .sideMenu {
    display: block;
    text-align: end;
  }
}


/* ---------------- */

.langButton {
  text-align: center;
}

.langMenuButton {
  color: white !important;
  padding: 0 !important;
  font-weight: 400;
}

.langIcon {
  margin: 0px 4px;
  font-weight: 400;
  opacity: 90%;
}

.authDivButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.authButton {
  background-color: transparent;
  color: white !important;
  border-radius: 20px !important;
  border: 1px solid white !important;
  width: 90px !important;
}

.authButton:hover {
  background-color: white;
  color: #173e62;
}

/* --- drawer --- */

.hamburgerMenu {
  font-size: 25px;
  color: white;
}

.hamburgerButtonMenu {
  padding: 0;
}

.drawerDivLogo {
  padding: 25px 25px 0 25px;
}

.drawerLogo {
  width: 100%;
  height: auto;
}

/* -------- menuListDrawer --- */

.drawerActive {
  border-left: 3px solid #eb6b2a !important;
  color: #eb6b2a !important;
}


.menuItemDrawer {
  margin-bottom: 20px;

  @media (max-width:600px) {
    margin: 0px !important;
  }

  .menuListItem {
    color: black !important;
  }

  .menuListItem:hover {
    color: #eb6b2a !important;
  }

  .active {
    color: #eb6b2a !important;
  }
}

.authDrawerDivButton {
  display: flex;
  flex-direction: column;
}

.authDrawerButton {
  background-color: #eb6b2a;
  color: white;
  margin: 0 25px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    background-color: #eb6b2acc !important;
  }
}

/* Top Section */

.headerTopDivContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  background-color: white;
  min-height: 50px;
}

@media (max-width: 1100px) {
  .logoImg {
    width: 120px;
  }

  .gridMenu {
    display: none;
  }

  .MenuDiv {
    display: none;
  }

  .gridLang {
    display: none;
  }

  .gridAuthButton {
    display: none;
  }

  .sideMenu {
    display: block;
    text-align: end;
  }
}