.logoIcon {
  height: 6.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.logoWrapper {
  width: 20.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}
.details {
  color: var(--color-darkslategray-200);
}
.entrepreneursDetails1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.frameContainer,
.frameDiv {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  width: 21.813rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.562rem;
}
.frameContainer {
  width: 41.688rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.personalInfoFieldsChild,
.personalInfoFieldsInner,
.personalInfoFieldsItem {
  width: 9.438rem;
  height: 1.438rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 0;
}
.personalInfoFieldsInner,
.personalInfoFieldsItem {
  width: 3.25rem;
  z-index: 1;
}
.personalInfoFieldsInner {
  width: 6.063rem;
  z-index: 2;
}
.fullName,
.personalInfoLabels {
  position: absolute;
  margin: 0 !important;
}
.fullName {
  height: 1.438rem;
  top: 4.5rem;
  left: 2.875rem;
  display: inline-block;
  min-width: 5.063rem;
  z-index: 2;
}
.personalInfoLabels {
  border: 1px solid var(--color-darkslategray-200);
  outline: 0;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 3.75rem;
  top: 12.188rem;
  right: 0;
  left: 0;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
}
.personalInfoFieldsChild1,
.personalInfoFieldsChild2,
.personalInfoFieldsChild3,
.rectangleDiv {
  width: 13.875rem;
  height: 1.438rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 5;
}
.personalInfoFieldsChild1,
.personalInfoFieldsChild2,
.personalInfoFieldsChild3 {
  width: 3.25rem;
  z-index: 6;
}
.personalInfoFieldsChild2,
.personalInfoFieldsChild3 {
  width: 4.625rem;
  z-index: 7;
}
.personalInfoFieldsChild3 {
  width: 8.25rem;
  z-index: 8;
}
.personalInfoLabels1 {
  width: 100%;
  height: 3.75rem;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -7.937rem;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  z-index: 1;
}
.personalInfoFieldsChild4 {
  width: 4.563rem;
  height: 1.438rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 10;
}
.personalInformation {
  height: 1.438rem;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  z-index: 2;
}
.personalInformationWrapper {
  width: 16.688rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl);
  box-sizing: border-box;
}
.frameChild {
  border: 1px solid var(--color-darkslategray-200);
  outline: 0;
  background-color: var(--color-whitesmoke-100);
  align-self: stretch;
  height: 3.75rem;
  position: relative;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  min-width: 15.625rem;
}
.nationalpersonalNumber {
  height: 1.438rem;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  z-index: 2;
}
.frameParent3,
.nationalpersonalNumberWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl);
  color: var(--color-gray-100);
}
.frameParent3 {
  width: 36.875rem;
  flex-direction: column;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  gap: 2.625rem;
  flex-shrink: 0;
  max-width: 100%;
  color: var(--color-black);
}
.personalInfoFieldsChild5 {
  width: 8.188rem;
  height: 1.438rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 12;
}
.lineDiv,
.phoneNumber {
  position: absolute;
  margin: 0 !important;
}
.phoneNumber {
  width: 9.688rem;
  height: 1.438rem;
  bottom: -11.25rem;
  left: 2.875rem;
  color: var(--color-black);
  display: inline-block;
  z-index: 2;
}
.lineDiv {
  width: calc(100% + 1px);
  height: 0.063rem;
  top: 1.813rem;
  right: -0.062rem;
  left: 0;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.personalInfoFieldsChild6 {
  width: 11.313rem;
  height: 1.438rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  z-index: 15;
}
.ageGenderFields {
  width: 7.438rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 1.438rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl);
  box-sizing: border-box;
  font-family: var(--font-nobile);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.ageGenderIconsChild {
  height: 3.75rem;
  width: 36.875rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.ageGenderIconsItem {
  height: 1.188rem;
  width: 1.188rem;
  position: relative;
  border-radius: var(--br-11xs);
  object-fit: contain;
  z-index: 1;
}
.ageGenderFieldsParent,
.ageGenderIcons,
.frameItem {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.ageGenderIcons {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-lg) var(--padding-10xl) var(--padding-lgi);
  max-width: 100%;
  margin-top: -0.688rem;
}
.ageGenderFieldsParent,
.frameItem {
  justify-content: flex-start;
}
.ageGenderFieldsParent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-10xl);
  max-width: 100%;
}
.frameItem {
  width: 9.006rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 1.438rem;
  flex-direction: row;
  padding: 0 var(--padding-25xl);
  font-family: var(--font-nobile);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.frameInner {
  height: 3.75rem;
  width: 36.875rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.polygonIcon {
  height: 1.188rem;
  width: 1.188rem;
  position: relative;
  border-radius: var(--br-11xs);
  object-fit: contain;
  z-index: 2;
}
.frameParent4,
.phoneNumberFields,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-mid) var(--padding-10xl) var(--padding-xl);
  max-width: 100%;
  z-index: 1;
  margin-top: -0.688rem;
}
.frameParent4,
.phoneNumberFields {
  justify-content: flex-start;
}
.frameParent4 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-14xl);
  max-width: 100%;
}
.phoneNumberFields {
  width: 15.063rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 1.438rem;
  flex-direction: row;
  padding: 0 var(--padding-24xl);
  font-family: var(--font-nobile);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.emailFieldChild {
  height: 3.75rem;
  width: 36.875rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.emailIcon {
  height: 1.188rem;
  width: 1.188rem;
  position: relative;
  border-radius: var(--br-11xs);
  object-fit: contain;
  z-index: 1;
}
.emailField,
.phoneNumberFieldsParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.emailField {
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-lg) var(--padding-10xl) var(--padding-lgi);
  margin-top: -0.938rem;
}
.phoneNumberFieldsParent {
  flex-direction: column;
  justify-content: flex-start;
}
.frameChild1 {
  height: 3.75rem;
  width: 36.875rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.phoneIcon {
  height: 1.188rem;
  width: 1.188rem;
  position: relative;
  border-radius: var(--br-11xs);
  object-fit: contain;
  z-index: 1;
}
.frameWrapper1,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-lg) var(--padding-10xl) var(--padding-lgi);
}
.frameWrapper1 {
  width: 36.875rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.email {
  height: 1.438rem;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 2.469rem;
  z-index: 2;
  margin-left: -34.188rem;
}
.contactFields,
.frameParent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contactFields {
  flex-direction: column;
  gap: var(--gap-10xl);
}
.targetCustomers {
  height: 1.438rem;
  width: 9.688rem;
  position: absolute;
  margin: 0 !important;
  top: -0.75rem;
  left: 2.875rem;
  text-transform: capitalize;
  display: inline-block;
  z-index: 1;
}
.frameChild2 {
  height: 3.75rem;
  width: 36.875rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.eMail {
  width: 9.688rem;
  border: 0;
  outline: 0;
  font-family: var(--font-nobile);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.438rem;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 3;
}
.rectangleContainer {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: 1rem var(--padding-27xl) var(--padding-mid);
}
.demographicFields,
.rectangleContainer,
.targetCustomersParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.targetCustomersParent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.demographicFields {
  width: 36.875rem;
  flex-direction: column;
  gap: var(--gap-2xs);
  flex-shrink: 0;
}
.personalInfoLabels2 {
  width: 36.875rem;
  height: 3.75rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  flex-shrink: 0;
}
.personalInfoFields,
.personalInfoFieldsWrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.personalInfoFields {
  height: 41.375rem;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 28.25rem;
  position: relative;
  gap: 4.5rem;
  cursor: pointer;
}
.personalInfoFieldsWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 1.5rem;
}
.frameChild3 {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  border-top: 1px solid #dcdcdc;
  box-sizing: border-box;
}
.frameParent2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 25.813rem;
  max-width: 100%;
}
.frameChild4 {
  width: 0.75rem;
  flex: 1;
  position: relative;
  backdrop-filter: blur(4px);
  border-radius: 27px;
  background-color: rgba(63, 72, 94, 0.72);
}
.frameParent1,
.rectangleWrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleWrapper {
  height: 17.688rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-85xl) 0 0;
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 var(--padding-mid);
  gap: 3.687rem;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 0;
  width: 0.563rem;
  height: 1rem;
  object-fit: contain;
}
.vectorIcon {
  left: 0.75rem;
}
.vectorIcon1 {
  left: 0;
}
.backButtonIcons {
  width: 1.313rem;
  height: 1rem;
  position: relative;
}
.backButtonIconsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.back,
.frameChild5 {
  position: absolute;
  left: 0;
}
.back {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.frameChild5 {
  top: 1.75rem;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 3.563rem;
  height: 0.063rem;
}
.backParent {
  height: 1.688rem;
  flex: 1;
  position: relative;
  cursor: pointer;
}
.frameParent6 {
  width: 6.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.continue {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 6.813rem;
  width: 100%;
  height: 100%;
}
.frameChild6 {
  position: absolute;
  top: 1.75rem;
  left: 0.25rem;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 6.438rem;
  height: 0.063rem;
}
.continueParent {
  height: 1.688rem;
  flex: 1;
  position: relative;
  cursor: pointer;
}
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  top: 0;
  width: 0.563rem;
  height: 1rem;
  object-fit: contain;
}
.vectorIcon2 {
  left: 0;
}
.vectorIcon3 {
  left: 0.75rem;
}
.forwardButtonIcons {
  width: 1.313rem;
  height: 1rem;
  position: relative;
}
.forwardButtonIconsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.backButtonContainer,
.continueButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.continueButtonContainer {
  width: 9.063rem;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.backButtonContainer {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frameGroup,
.frameWrapper,
.navigationContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigationContainer {
  width: 39.813rem;
  flex-direction: row;
  padding: 0 2.187rem;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
.frameGroup,
.frameWrapper {
  flex-direction: column;
}
.frameGroup {
  align-self: stretch;
  gap: 3.75rem;
  max-width: 100%;
}
.frameWrapper {
  width: 44.125rem;
  padding: 0 0 var(--padding-51xl);
  box-sizing: border-box;
  min-height: 67.625rem;
  max-width: calc(100% - 1057px);
  flex-shrink: 0;
}
.containerIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fillInYour,
.lookForwardTo {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.fillInYour {
  margin: 0;
  width: 35.813rem;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.lookForwardTo {
  width: 29.338rem;
  height: 2.556rem;
  font-size: var(--font-size-xl);
  font-weight: 300;
  flex-shrink: 0;
}
.containerParent {
  flex: 1;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 55.675rem var(--padding-xl) 6.912rem 6.875rem;
  box-sizing: border-box;
  position: relative;
  gap: 0.481rem;
  max-width: calc(100% - 815px);
  flex-shrink: 0;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
.entrepreneursDetails,
.frameParent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameParent {
  width: 111.438rem;
  height: 72.313rem;
  flex-direction: row;
  padding: 4.687rem 0 0 var(--padding-xl);
  gap: 6.812rem;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-chocolate-100);
  font-family: var(--font-nobile);
}
.entrepreneursDetails {
  width: 100%;
  height: 103.063rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-473xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .frameWrapper {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .entrepreneursDetails1 {
    font-size: var(--font-size-lgi);
  }
  .frameDiv {
    gap: var(--gap-xl);
  }
  .nationalpersonalNumberWrapper,
  .personalInformationWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .personalInfoFields {
    gap: 1.125rem;
  }
  .back,
  .continue {
    font-size: var(--font-size-lgi);
  }
  .backButtonContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .fillInYour {
    font-size: var(--font-size-5xl);
  }
  .lookForwardTo {
    font-size: var(--font-size-base);
  }
  .containerParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: 1.688rem;
  }
}
@media screen and (max-width: 800px) {
  .personalInfoFields {
    padding-bottom: 18.375rem;
    box-sizing: border-box;
  }
  .containerParent,
  .frameWrapper {
    display: none;
    max-width: 100%;
  }
  .containerParent {
    padding-top: 36.188rem;
    padding-bottom: 4.5rem;
    box-sizing: border-box;
  }
  .frameParent {
    padding-top: 3.063rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .entrepreneursDetails1 {
    font-size: var(--font-size-7xl);
  }
  .frameParent3 {
    gap: var(--gap-2xl);
  }
  .personalInfoFields {
    gap: 2.25rem;
    padding-bottom: 11.938rem;
    box-sizing: border-box;
  }
  .frameParent2 {
    min-width: 100%;
  }
  .frameParent1 {
    gap: var(--gap-10xl);
  }
  .frameGroup {
    gap: var(--gap-11xl);
  }
  .frameWrapper {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .fillInYour {
    font-size: var(--font-size-13xl);
  }
  .containerParent {
    padding-left: 3.438rem;
    padding-top: 23.5rem;
    padding-bottom: 2.938rem;
    box-sizing: border-box;
  }
  .frameParent {
    height: auto;
    gap: 3.375rem;
    padding-top: 2rem;
    box-sizing: border-box;
  }
  .entrepreneursDetails {
    height: auto;
  }
}
