.singleButtonGroup {
  border: 2px solid var(--secondary-text-color) !important;
  margin: 0.7rem !important;
  text-transform: none !important;
  border-bottom: 2px solid var(--secondary-text-color) !important;
  border-top: 2px solid var(--secondary-text-color) !important;
  width: 20rem !important;
  padding: 1.2rem !important;
  border-radius: 8rem !important;
  -webkit-transition: all 0.4s ease !important;
  -moz-transition: all 0.4s ease !important;
  -ms-transition: all 0.4s ease !important;
  -o-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.activeButton {
  background-color: orange !important;
  color: white !important
}


@media (max-width:350px) {
  .singleButtonGroup {
    width: 17rem !important;
  }
}