.headerGuestContainer {
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.headerContainer {
  padding: 10px 0px;
  background-color: #3f485e;
}

.headerDivContainer {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 140px;
}

.sideMenu {
  display: none;
}

@media (max-width: 991px) {
  .logoImg {
    width: 120px;
  }

  .gridMenu {
    display: none;
  }

  .gridLang {
    display: none;
  }

  .gridAuthButton {
    display: none;
  }

  .sideMenu {
    display: block;
    text-align: end;
  }
}

.menuListStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
}

.menuListItem {
  color: white !important;
  padding: 0 !important;
  transition: all .3s ease;
}

.menuListItem:hover {
  border-top: 1px solid #eb6b2a;
  color: #eb6b2a !important;
}

.active {
  border-top: 1px solid #eb6b2a;
  color: #eb6b2a !important;
}

/* ---------------- */

.langButton {
  text-align: center;
}

.langMenuButton {
  color: white !important;
  padding: 0 !important;

}

.langIcon {
  margin: 4px;
}

.authDivButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.authButton {
  background-color: transparent;
  color: white !important;
  border-radius: 14px !important;
  border: 1px solid white !important;
  font-size: 12px;
  width: 115px;
  height: 40px;
  padding: 2px;
}

.authButton:hover {
  background-color: white !important;
  color: #173e62 !important;
}

/* --- drawer --- */

.hamburgerMenu {
  font-size: 25px;
  color: white;
}

.hamburgerButtonMenu {
  padding: 0;
}

.drawerDivLogo {
  padding: 25px 25px 0 25px;
}

.drawerLogo {
  width: 100%;
  height: auto;
}

/* -------- menuListDrawer --- */

.drawerActive {
  border-left: 3px solid #eb6b2a;
  color: #eb6b2a;
}

.menuItemDrawer {
  margin-bottom: 20px;
}

.authDrawerDivButton {
  display: flex;
  flex-direction: column;
}

.authDrawerButton {
  background-color: #eb6b2a;
  color: white;
  margin: 0 25px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.authDrawerButton:hover {
  color: #173e62;
}

/* Top Section */

.headerTopDivContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  min-height: 50px;
  background-color: white;
}