.next {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 4.375rem;
  height: 1.688rem;
}
.nextButtonChild {
  position: absolute;
  top: 1.75rem;
  left: 0.438rem;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 3.563rem;
  height: 0.063rem;
}
.nextButton {
  height: 1.813rem;
  flex: 1;
  position: relative;
}
.progressDotIcon,
.progressDotIcon1 {
  position: absolute;
  top: 0;
  width: 0.563rem;
  height: 1rem;
  object-fit: contain;
}
.progressDotIcon {
  left: 0;
}
.progressDotIcon1 {
  left: 0.75rem;
}
.progressDots {
  width: 1.313rem;
  height: 1rem;
  position: relative;
}
.nextButtonParent,
.progressContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.progressContainer {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.nextButtonParent {
  position: absolute;
  top: 55.375rem;
  left: 38.875rem;
  width: 6.375rem;
  height: 1.75rem;
  flex-direction: row;
  padding: 0 0 0.437rem;
  box-sizing: border-box;
  gap: var(--gap-2xs);
  cursor: pointer;
  font-size: var(--font-size-5xl);
  font-family: var(--font-nobile);
}
.logoIcon {
  position: absolute;
  top: 7.125rem;
  left: 14rem;
  width: 16.25rem;
  height: 6.75rem;
  overflow: hidden;
}
.ifYouAlready,
.signUp1 {
  position: absolute;
  left: 14rem;
  text-transform: capitalize;
  display: inline-block;
}
.signUp1 {
  margin: 0;
  top: 17.875rem;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: inherit;
  min-width: 7.188rem;
  white-space: nowrap;
}
.ifYouAlready {
  top: 22.063rem;
  width: 20.75rem;
}
.youCan {
  white-space: pre-wrap;
}
.loginHere {
  font-weight: 600;
}
.youCanLoginContainer {
  position: absolute;
  top: 23.938rem;
  left: 14rem;
  text-transform: capitalize;
  display: inline-block;
  width: 19.25rem;
}
.email {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 2.25rem;
}
.message1Icon {
  width: 1.063rem;
  height: 1.063rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.enterYourEmail {
  width: calc(100% - 37px);
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.5rem;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 7.438rem;
  padding: 0;
}
.emailFieldContainer {
  width: 15.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.instanceChild {
  align-self: stretch;
  height: 0.125rem;
  position: relative;
  background-color: var(--color-darkslategray-200);
}
.emailParent,
.passwordInput {
  position: absolute;
  width: 26.813rem;
}
.emailParent {
  top: 28.688rem;
  left: 14rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  max-width: 100%;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
}
.passwordInput {
  top: 45.75rem;
  left: 14.063rem;
  background-color: var(--color-darkgray);
  height: 0.125rem;
}
.confrimYourPassword {
  position: absolute;
  top: 43.75rem;
  left: 15.75rem;
  text-transform: capitalize;
}
.invisible1Icon,
.padlock1Icon {
  position: absolute;
  top: 43.938rem;
  left: 14rem;
  width: 1.063rem;
  height: 1.063rem;
  overflow: hidden;
}
.invisible1Icon {
  top: 44.313rem;
  left: 40rem;
  width: 0.875rem;
  height: 0.875rem;
}
.password,
.passwordInput1 {
  position: absolute;
  left: 14.063rem;
}
.password {
  top: 35.813rem;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-darkgray);
  display: inline-block;
  min-width: 4rem;
}
.passwordInput1 {
  top: 39.688rem;
  background-color: var(--color-darkgray);
  width: 26.813rem;
  height: 0.125rem;
}
.enterYourPassword {
  position: absolute;
  top: 37.688rem;
  left: 15.75rem;
  text-transform: capitalize;
}
.invisible1Icon1,
.padlock1Icon1 {
  position: absolute;
  top: 38rem;
  left: 14rem;
  width: 1.063rem;
  height: 1.063rem;
  overflow: hidden;
}
.invisible1Icon1 {
  top: 38.25rem;
  left: 40rem;
  width: 0.875rem;
  height: 0.875rem;
}
.termsConditionAnd {
  position: absolute;
  top: 47.125rem;
  left: 15.75rem;
  font-size: var(--font-size-smi);
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-darkgray);
}
.color {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-chocolate-100);
  width: 100%;
  height: 100%;
  display: none;
}
.iconColor2 {
  position: absolute;
  top: 0.375rem;
  left: 0.313rem;
  width: 0.413rem;
  height: 0.306rem;
  z-index: 1;
}
.icon {
  position: absolute;
  top: 47.125rem;
  left: 14.125rem;
  border-radius: var(--br-10xs);
  background-color: var(--color-chocolate-100);
  width: 1.031rem;
  height: 1rem;
}
.signUp {
  width: 100%;
  height: 97.25rem;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1325px) {
  .signUp {
    height: auto;
    min-height: 1556;
  }
}
@media screen and (max-width: 800px) {
  .signUp1 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .next {
    font-size: var(--font-size-lgi);
  }
  .signUp1 {
    font-size: var(--font-size-lg);
  }
}
