.header {
  position: absolute;
  background-color: transparent;
  z-index: 10;
  padding: 20px 0px;
}

.headerDivContainer {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 140px;
}

.sideMenu {
  display: none;
}

@media (max-width: 991px) {
  .logoImg {
    width: 120px;
  }

  .gridMenu {
    display: none;
  }

  .gridLang {
    display: none !important;
  }

  .sideMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.menuListStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuListItem {
  color: white !important;
  padding: 5px 10px !important;
  border-radius: 99px;
  transition: all .2s ease;
}

.menuListItem:hover {
  background-color: #FF8704;
  color: white;
}

.active {
  background-color: #FF8704;
  color: white !important;
}

/* ---------------- */

.MenuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.langButton {
  text-align: center;
  padding-top: 10px;
}

.langMenuButton {
  color: white !important;
  padding: 0 !important;
}

.langIcon {
  margin: 4px;
}

.authDivButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.authButton {
  background-color: transparent;
  color: white !important;
  border-radius: 14px !important;
  border: 1px solid white !important;
  font-size: 12px;
  width: 115px;
  height: 40px;
  padding: 2px;
}

.authButton:hover {
  background-color: white !important;
  color: #173e62 !important;
}

/* --- drawer --- */

.hamburgerMenu {
  font-size: 25px;
  color: white;
}

.hamburgerButtonMenu {
  padding: 0;
  margin-top: 10px;
}

.drawerDivLogo {
  padding: 25px 25px 0 25px;
}

.drawerLogo {
  width: 100%;
  height: auto;
}

/* -------- menuListDrawer --- */

.drawerActive {
  border-left: 3px solid #FF8704;
  color: #FF8704 !important;
}

.menuItemDrawer {
  margin-bottom: 20px;
  color: white;
}

.authDrawerDivButton {
  display: flex;
  flex-direction: column;
}

.authDrawerButton {
  background-color: #FF8704;
  color: white;
  margin: 0 25px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.authDrawerButton:hover {
  color: #173e62;
}

/* Top Section */

.headerTopDivContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  min-height: 55px;
  background-color: white;
}