.containerIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.loremIpsumIs,
.signUpTo {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.signUpTo {
  margin: 0;
  width: 24.525rem;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.loremIpsumIs {
  width: 29.338rem;
  height: 2.363rem;
  font-size: var(--font-size-xl);
  font-weight: 300;
  flex-shrink: 0;
}
.containerParent {
  position: absolute;
  top: 0;
  left: 60.75rem;
  backdrop-filter: blur(4px);
  width: 59.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-822xl-9) var(--padding-xl) var(--padding-101xl-8)
    var(--padding-97xl);
  box-sizing: border-box;
  gap: var(--gap-xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 800px) {
  .signUpTo {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .signUpTo {
    font-size: var(--font-size-5xl);
  }
  .loremIpsumIs {
    font-size: var(--font-size-base);
  }
}
