.logoIcon {
  height: 6.75rem;
  width: 16.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.signIn {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 6.375rem;
}
.ifYouDont,
.signIn {
  position: relative;
  text-transform: capitalize;
}
.youCan {
  white-space: pre-wrap;
}
.registerHere {
  font-weight: 600;
  color: var(--color-darkslategray-200);
}
.youCanRegisterContainer {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.register,
.registerLink,
.signInParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.register {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.registerLink,
.signInParent {
  box-sizing: border-box;
  max-width: 100%;
}
.signInParent {
  width: 20.5rem;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xl);
}
.registerLink {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mid) var(--padding-smi);
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-200);
}
.email {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 2.25rem;
}
.message1Icon {
  width: 1.063rem;
  height: 1.063rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.enterYourEmail {
  width: calc(100% - 37px);
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 1.5rem;
  flex: 1;
  position: relative;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 7.438rem;
  padding: 0;
}
.emailMessage {
  width: 15.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.instanceChild {
  align-self: stretch;
  height: 0.125rem;
  position: relative;
  background-color: var(--color-darkslategray-200);
}
.emailField,
.emailParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.emailParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
}
.emailField {
  width: 26.813rem;
  flex-direction: row;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.password {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 4rem;
}
.passwordInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.padlock1Icon {
  width: 1.063rem;
  height: 1.063rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.enterYourPassword {
  position: relative;
}
.padlock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.invisible1Icon {
  height: 0.875rem;
  width: 0.875rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.password1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.passwordMessageChild {
  align-self: stretch;
  height: 0.125rem;
  position: relative;
  background-color: var(--color-darkgray);
}
.passwordMessage {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-4xs);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
}
.checkboxMark {
  width: 0.938rem;
  height: 0.938rem;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.rememebrMe {
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  min-width: 5.5rem;
}
.rememberCheckbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.forgotPassword {
  position: relative;
  font-weight: 300;
  color: var(--color-dimgray);
  display: inline-block;
  min-width: 6.75rem;
}
.passwordField,
.remember,
.rememberForgot {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.remember {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.passwordField,
.rememberForgot {
  justify-content: flex-start;
  box-sizing: border-box;
}
.rememberForgot {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.passwordField {
  width: 26.938rem;
  flex-direction: column;
  padding: 0 0 var(--padding-2xl);
  gap: var(--gap-4xs);
}
.frameChild {
  height: 3.313rem;
  width: 26.813rem;
  position: relative;
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-13xl);
  background-color: var(--color-darkslategray-200);
  display: none;
  max-width: 100%;
}
.login {
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 2.875rem;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-smi)
    var(--padding-2xl);
  background-color: var(--color-darkslategray-200);
  width: 26.813rem;
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-13xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent:hover {
  background-color: var(--color-slategray-100);
}
.content,
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.formContainer {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-20xl);
  flex-shrink: 0;
}
.content {
  width: 27.875rem;
  align-items: flex-start;
  padding: var(--padding-107xl) 0 0;
  box-sizing: border-box;
  min-width: 27.875rem;
}
.descriptionBackgroundIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  /* overflow: hidden; */
  max-height: 100%;
  object-fit: cover;
}
.loremIpsumIs,
.signInTo {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.signInTo {
  margin: 0;
  width: 23.394rem;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.loremIpsumIs {
  width: 29.506rem;
  height: 2.325rem;
  font-size: var(--font-size-xl);
  font-weight: 300;
  flex-shrink: 0;
}
.descriptionBackgroundParent,
.main {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
}
.descriptionBackgroundParent {
  width: 50%;
  /* border: 2px solid red; */
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-809xl-7) var(--padding-xl) var(--padding-99xl-9)
    var(--padding-97xl);
  position: relative;
  gap: var(--gap-lgi-2);
  font-size: var(--font-size-21xl);
  color: var(--white);
}
.main {
  width: 104.063rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1325px) {
  .content,
  .descriptionBackgroundParent {
    flex: 1;
  }
  .main {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .signIn {
    font-size: var(--font-size-lg);
  }
  .remember {
    flex-wrap: wrap;
  }
  .formContainer {
    gap: var(--gap-lgi);
  }
  .content {
    padding-top: var(--padding-34xl);
    box-sizing: border-box;
  }
  .signInTo {
    font-size: var(--font-size-5xl);
  }
  .loremIpsumIs {
    font-size: var(--font-size-base);
  }
  .descriptionBackgroundParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .descriptionBackgroundParent {
    padding-top: var(--padding-520xl);
    padding-bottom: var(--padding-58xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .signIn {
    font-size: var(--font-size-5xl);
  }
  .content {
    padding-top: var(--padding-63xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .signInTo {
    font-size: var(--font-size-13xl);
  }
  .descriptionBackgroundParent {
    padding-left: var(--padding-39xl);
    padding-top: var(--padding-331xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
}
