/* Center slide larger */




.ui-screens {
    background: linear-gradient(180deg, #F8FCFD 0%, #8CCCDD 100%);

    /*    * {
        direction: ltr !important; 
        text-align: left !important;
      } 
      */


    /* Smaller size for non-center slides */
    .slide {
        opacity: 0.7;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: scale(0.7);

        img {
            border-radius: 20px;
        }
    }



    /* Larger size and full opacity for center slide */
    .active-slider {
        transform: scale(.8) !important;
        opacity: 1 !important;
        transition: transform 0.3s ease;


        img {
            opacity: 1 !important;
        }
    }

    .slick-arrow.slick-next::before,
    .slick-arrow.slick-prev::before {
        display: none !important;
    }

    /* Custom arrow positioning */
    .slick-prev,
    .slick-next {
        top: 0%;
        /* Align vertically in the middle of the slider */
        transform: translateY(-50%);
        /* Ensure it is centered */
        z-index: 2;
        width: 50px;
        /* Adjust size for arrows */
        height: 50px;
        /* Adjust size for arrows */
    }

    .slick-prev {
        left: -60px;
        /* Adjust to move arrow to the left */
    }

    .slick-next {
        right: -60px;
        /* Adjust to move arrow to the right */
    }

    /* Custom dot styling */
    .slick-dots li button:before {
        margin-top: 10px;
        font-size: 10px;
        color: white;
        /* Change dot color */
    }


    .slick-dots li.slick-active button:before {
        margin-top: 10px;
        font-size: 16px;
        color: white;
        opacity: 1;
    }

    @media (max-width:500px) {
        .slider-image {
            margin: auto;
        }


    }
}