/* Center slide larger */

.ui-screens {
    background: linear-gradient(180deg, #F8FCFD 0%, #8CCCDD 100%);



    .slick-center {
        transform: scale(1.25);
        /* Make center slide larger */
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Smaller size for non-center slides */
    .slick-slide {
        opacity: 0.7;
        /* Lower opacity for non-active slides */
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: scale(0.8);
        /* Scale down non-center slides */
    }

    /* Larger size and full opacity for center slide */
    .slick-center.slick-slide {
        opacity: 1;
        transform: scale(1);
        /* Ensure the center slide is scaled correctly */
    }

    .slick-arrow.slick-next::before,
    .slick-arrow.slick-prev::before {
        display: none !important;
    }

    /* Custom arrow positioning */
    .slick-prev,
    .slick-next {
        top: 0%;
        /* Align vertically in the middle of the slider */
        transform: translateY(-50%);
        /* Ensure it is centered */
        z-index: 2;
        width: 50px;
        /* Adjust size for arrows */
        height: 50px;
        /* Adjust size for arrows */
    }

    .slick-prev {
        left: -60px;
        /* Adjust to move arrow to the left */
    }

    .slick-next {
        right: -60px;
        /* Adjust to move arrow to the right */
    }

    /* Custom dot styling */
    .slick-dots li button:before {
        margin-top: 10px;
        font-size: 10px;
        color: white;
        /* Change dot color */
    }


    .slick-dots li.slick-active button:before {
        margin-top: 10px;
        font-size: 16px;
        color: white;
        /* Ensure the active dot is also white */
        opacity: 1;
    }

    /* Image container styling */
    .slide {
        text-align: center;
    }

    .slider-image {
        border-radius: 20px;
    }

    /* Active image styling */



    @media (max-width:500px) {
        .slider-image {
            margin: auto;
        }


    }
}