.mainTextStyle {
  font-size: 24px;
  font-weight: 500;
  line-height: 76px;
  margin: 0;

  @media (max-width: 1299px) {
    line-height: 50px;
    font-size: 22px;
  }

  @media (max-width: 1199px) {
    line-height: 30px;
    font-size: 20px;
  }

  @media (max-width: 991px) {
    line-height: 30px;
    font-size: 18px;
  }
}

.cardsImgStyle {
  height: 420px;
  z-index: 1;
  position: relative;
  object-fit: cover;

  @media (max-width: 1199px) {
    height: 300px;
  }
}

.backStyle {
  background: linear-gradient(#d9d9d900 0%, #3f485e 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 2;
}

.cardContentStyle {
  z-index: 3;
  position: absolute;
  bottom: 5%;
  left: 10px;
}

.cardTitle {
  color: white;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  font-family: 'Nobile';

  @media (max-width: 1199px) {
    font-size: 24px;
  }
}

.cardLink {
  color: white;
  font-size: 0.973rem;
  line-height: 18px;
  font-weight: 600;
  opacity: 90%;
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (max-width: 1199px) {
    font-size: 16px;
  }
}
