.mainTextStyle {
  font-size: 24px;
  font-family: 'Nobile';
  font-weight: 500;
  line-height: 76px;
  margin: 0;

  @media (max-width: 1299px) {
    line-height: 50px;
    font-size: 22px;
  }

  @media (max-width: 1199px) {
    line-height: 30px;
    font-size: 20px;
  }

  @media (max-width: 991px) {
    line-height: 30px;
    font-size: 18px;
  }
}

.cardStyle {
}

.cardsImgStyle {
  height: 400px;
  z-index: 1;
  position: relative;
  object-fit: cover;

  @media (max-width: 1199px) {
    height: 300px;
  }
}

.backStyle{
    background-color: #3F485E;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;
}

.cardContentStyle {
  z-index: 3;
  position: absolute;
  bottom: 20%;
  left: 10px;
}

.cardTitle {
  color: white;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  font-family: 'Nobile';

  @media (max-width: 1199px) {
    font-size: 24px;
  }
}

.cardDescription {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'DM Sans';
  width: 80%;

  @media (max-width: 1199px) {
    font-size: 16px;
  }
}

.cardLink {
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: 'DM Sans';

  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;

  @media (max-width: 1199px) {
    font-size: 16px;
  }
}
