.home {
  /* background-image: url('/home-hero.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
}

.homeLarge {
  height: 580px;
  padding-bottom: 50px;
}

.heroBrightness {
  background: linear-gradient(45deg, #444c5fff, #444c5f61);
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.heroTitle {
  position: absolute;
  z-index: 3;
  top: 0%;
  padding: 10rem 0;
}

.SubTitle {
  max-width: 60%;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.6rem;
  margin-left: 0.3rem;
}

@media screen and (max-width: 1199px) {
  .welcomeToTheTheplatformYou {
    font-size: 2rem;
    width: 40rem;
  }
}

@media screen and (max-width: 991px) {
  .heroTitle {
    padding: 10rem 0;
  }

  .home {
    height: 400px;
  }

  .Title {
    max-width: 60%;
  }

  .SubTitle {
    max-width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .heroTitle {
    padding: 8rem 0;
  }

  .Title {
    max-width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .heroTitle {
    padding: 6rem 0;
  }

  .home {
    height: 300px;
  }

  .Title {
    max-width: 80%;
    line-height: 2.2rem;
  }

  .SubTitle {
    max-width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .heroTitle {
    padding: 5rem 0;
  }

  .Title {
    /* line-height: 1.2rem; */
    max-width: 90%;
    line-height: 2.2rem;
  }
}