.statistics-section {
    position: relative;
    bottom: 70px;

    * {
        direction: ltr !important;
    }
}

@media (max-width:900px) {
    .statistics-section {

        position: static;
        margin-top: 50px;

    }
}